/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	font: 11px Verdana, Arial, Helvetica, sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
	padding: 0px;
}
#header {
	color: #333;
	width: 985px;
	float: left;
	padding: 0px;
	margin: 0px;
	text-align: left;
	clear: both;
}

#leftheadercolumn {
	color: #333;
	margin: 15px 0px 0px;
	padding: 0px 0px 0px 15px;
	height: 40px;
	width: 800px;
	float: left;
}
#rightheadercolumn {
	float: right;
	color: #333;
	margin: 10px 0px 0px;
	padding: 0px;
	height: 40px;
	width: 105px;
	display: inline;
	position: relative;
}

a#jabilweblogo {
	display: block;
	width: 200px;
	height: 35px;
	margin: 0px;
	background: url(../images/jabilweb_logo.jpg);
	text-align: left;
	clear: both;
	float: left;
	padding: 0px;
}
a#jabilweblogo:hover {
	background: url(../images/jabilweb_logo2.jpg);
}

a .alt 
{
	display: none;
}

.stockticker {
	float: right;
	position: relative;
	height: 30px;
	width: 104px;
	top: 10px;
	clear: both;
	right: -20px;
}
#search_box {
	width: 180px;
	height: 25px;
	float: right;
	clear: both;
	top: -10px;
	position: relative;
	z-index: 100;
	margin: 0px;
	padding: 0px;
	right: -18px;
}
#search_box #s {
	float: left;
	margin: 4px 0 0 5px;
	border: 1px solid #063868;
	width: 100px;
	color: #016E45;
	padding: 1px 2px;
}
#search_box #go {
	float: right;
	margin: 10px 15px 0 0;
}

#navigation {
	float: left;
	width: 1000px;
	color: #333;
	padding: 0px;
	margin: 0px;
	position: relative;
	z-index: 100;
}
#leftcolumn {
	color: #333;
	margin: 0px;
	padding: 0px;
	height: auto;
	width: 235px;
	float: left;
	overflow: hidden;
	/*border-right: 1px solid #016E45;*/
}

#leftcolumn img {
	margin: 0px;
	padding: 0px;
}

#leftcolumn p {
	margin: 0px;
	padding: 0px;
}

#leftcolumn table {
	margin: 0px;
	padding: 0px;
	line-height: 18px;
}
#leftcolumn table td
{
	padding: 2px 2px 2px 15px;
}

#leftcolumn table th
{
	padding: 2px 2px 2px 15px;
	
}

#content {
	float: left;
	color: #333;
	margin: 0px auto;
	padding: 0px;
	height: auto;
	width: 510px;
	display: inline;

	z-index: 0;
	position: relative;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	line-height: 18px;
}
#content link {
	text-decoration: none;
	border-style: none;
}

.centerdiv{ /*IE method of centering a relative div*/
    text-align: left;
    border-left: 1px solid #016E45;
    border-right: 1px solid #016E45;
}

.centerdiv>div{ /*Proper way to center a relative div*/
    margin: 0 auto;
}


blockquote {
	color: #063868;
	text-align: left;
	height: auto;
	width: 225px;
	clear: both;
	float: right;
	background: #ecebe1;
	margin: 0px;
	padding: 10px;
	font: 12px Verdana, Arial, Helvetica, sans-serif;
	border-top: 0px #FFFFFF;
	border-right: 10px solid #FFFFFF;
	border-bottom: 10px solid #FFFFFF;
	border-left: 10px solid #FFFFFF;
}

blockquote a {
	color: #00478E;
	text-decoration: none;
	border-bottom: 1px solid #063868;
	margin-top: 2px;
	margin-bottom: 2px;
}

blockquote a:hover {
	color: #016E45;
	text-decoration: none;
	border: 0px none;
}

blockquote p {
	padding-top: 3px;
	padding-bottom: 3px;
}

#rightcolumn {
	color: #333;
	margin: 0px;
	padding: 0px 0px 0px 5px;
	height: auto;
	width: 250px;
	float: left;
	vertical-align: top;
	/*border-left: 1px solid #016E45;*/
}
#rightcolumn.fadetable {
	padding: 0px 0px 0px 0px;
}
#rightcolumn img {
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

#rightcolumn p {
	margin: 0px;
	padding: 0px;
}

#rightcolumn table {
	margin: 0px;
	padding: 0px;
	line-height: 18px;
}

#rightcolumn table td
{
	padding: 2px 2px 2px 15px;
    text-align: left;
}

#rightcolumn table th
{
	padding: 2px 2px 2px 15px;
}

#footer {
	width: 1000px;
	clear: both;
	color: #999999;
	margin: 0px 0px 10px;
	padding: 5px 0px 10px;
	height: auto;
	font-size: x-small;
	font-size:11px;
}

#footer a {
	color: #016E45;
	text-decoration: underline;
}

#footer a:hover {
	text-decoration: none;
}

.footerleft {
	text-align: left;
	position: relative;
	left: 15px;
	float: left;
}

.footerright {
	text-align: right;
	position: relative;
	float: right;
	width: 450px;
	right: 15px;
}
img {
	margin: 0px;
	padding: 0px;
	border-style: none;
}
p {
	margin: 0px;
	padding: 0px;
}

h3 
{
    text-align: left;
	color: #016e45;
	font: bold 17px;
	margin: 3px 3px 3px 3px;
	padding: 2px 2px 2px 2px;
}

h4 {
	font: bold 15px;
	margin: 5px 5px 5px 5px;
	padding: 2px 2px 2px 20px;
	color: #005288;
	height: auto;
	letter-spacing: -0.03em;
	width: 100%;
}

.h4 {
	margin: 5px 5px 5px 30px;
	padding: 2px 2px 2px 2px;
	color: #005288;
	width: 100%;
}

.h4 a {
	font: bold 15px;
}

h5 {
	color: #000000;
}

h6 {
    color: #000000;
	

}
.mainlink {
	color: #00478E;
	text-decoration: underline;
	border-bottom: 1px solid #063868;
}

.mainlink:hover {
	color: #016E45;
	text-decoration: none;
	border: 0px none;
}

.greenlink {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #007a50;
	text-decoration: underline;
	border-bottom: #007a50;
	margin-bottom: 1px;
	}
.greenlink:hover {
	color: #063868;
	text-decoration: none;
}
.redlnk {
    color: red;
	text-decoration: none;
}

.redlnk:hover {
	color: red;
	text-decoration: underline;
}
.blacklnk {
    color: #000;
	text-decoration: none;
}

.blacklnk:hover {
	color: red;
	text-decoration: underline;
}
.bluelnk {
    color: #063868;
	text-decoration: none;
}

.bluelnk:hover {
	color: #007a50;
	text-decoration: underline;
}
.bluelink {
	text-decoration: none;
	border-bottom: #00478E;
	margin-bottom: 1px;
	color: #063868;
}

.bluelink:hover {
	color: #016E45;
	text-decoration: none;
	border: 0px none;
}

.bullets {
	color: #063868;
	margin-left: 20px;
	padding: 10px;
	list-style: square;
}
.disc {
	color: #000000;
	margin-left: 20px;
	padding: 10px;
	list-style: square;
	font-size:9px
}
.cssTableSelectedRow
{
	COLOR : #CCFF99;
	BACKGROUND-COLOR : #009999;
}

.cssTableAlternatingRow
{
	border-color: Black;
    Border-Style: solid;
    
    FONT-SIZE: 8.5pt;
    FONT-FAMILY: Verdana, HELVETICA;
    BACKGROUND-COLOR: #F5FAFF;
    FONT-WEIGHT: normal;
}

.cssTableRow
{	
	border-color: Black;
    Border-Style: solid;
    
    FONT-SIZE: 8.5pt;
    FONT-FAMILY: Verdana, HELVETICA;
    BACKGROUND-COLOR :White;
    COLOR: black;
    FONT-WEIGHT: normal;
}

.cssTableHeader
{
    BORDER-RIGHT: black thin double;
    FONT-WEIGHT: bolder;
    FONT-SIZE: 8pt;
    FONT-FAMILY: Verdana, HELVETICA;
    BACKGROUND-COLOR: #F5FAFF;
    border-color: Black;
    Border-Style: solid;
}

.cssTable
{			
	border-color: Black;
	Border-Style: solid;
	Border-Width: 1pt;      
	FONT-SIZE: 8.5pt;
    FONT-FAMILY: Verdana, HELVETICA;
    BACKGROUND-COLOR: white;
}

.info-list1
{
    list-style-image: url('../Images/arrow-grey.gif');
    list-style-type:circle;
    margin: 0px 2px 0px 6px;
    padding: 2px 2px 2px 2px;
    font-size: 10pt;
}
.info-list2
{
    list-style-type: square;
    list-style-image: url('');
    margin: 0px 2px 0px 10px;
    padding: 2px;
}
.info-list1 li
{
	line-height: 18px;
	padding: 2px 2px 2px 10px;
}
.info-list2 li
{
    line-height: 18px;
    padding: 2px;
}
.info-list1 li a
{
    color: blue;
}
.imgdescription
{
    color: #016E45;
    text-align: left;
    font-size: 13px;
    font-weight: bold;   
}
.info-list3
{
    list-style-image: url('../Images/arrow-grey.gif');
    list-style-type:circle;
    margin: 0px 2px 0px 15px;
    padding: 2px;

    FONT-SIZE: 10pt;
}
.info-list3 li
{
    line-height: 18px;
    padding: 2px;
}
.info-list3 li a
{
    color: #000;
}